<style>
 md-dialog {
       height:90%;
       width:90%;
       max-height:100%;
       max-width: 100%;
       position: relative;
       top: 10;
       left: 10;
       right: 10;
       down: 10;
       border-radius: 5;
   }
   
 md-dialog-actions.cancelSaveCv{
 	position: absolute;
 	bottom : 0;
 	right : 0;
 }
 input.ng-invalid {
   color: red;
   border-color: red;
}
input.ng-untouched.ng-invalid {
     color: red;
     border-color: red;
}
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button,
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none; }
</style>
<md-dialog data-ng-init="init()">
    <md-dialog-content>
        <md-tabs class="md-primary" md-stretch-tabs="always" md-dynamic-height md-border-bottom>
            <md-tab id="">
                <md-tab-label>{{'TICKET DETAILS' | translate}}</md-tab-label>
                <md-tab-body>
                <div layout = "row">
                <div flex = "50">
	                <form name = "ticketInfo">
	                	<md-content class = "" ><div layout = "column" layout-padding >
	                	 
	                		<md-input-container >
	    						<label>{{'LABEL' | translate}}</label>
	            				<input required name="label" ng-model="ticket.label" disabled>
	        				</md-input-container>
	                		<md-input-container >
	    						<label>{{'NAME' | translate}}</label>
	            				<input required name="name" ng-model="ticket.name" >
	        				</md-input-container>
	        				<md-input-container >
	    						<label>{{'CREATED_BY' | translate}}</label>
	            				<input readonly required name="name" ng-model="ticket.ticketCreator.name" >
	        				</md-input-container>
	        				<md-input-container>
	        				<label>{{'ASSIGN TO'
								| translate}}</label> <md-select  ng-model="ticket.ticketAssigned"  ng-model-options="{trackBy: '$value.id'}"> <md-option
								ng-repeat="user in ticket.project.usersOnProject" ng-value="{{user}}">{{user.name}}</md-option> </md-select>
	        				</md-input-container>
	        				<md-input-container flex> <label>{{'PRIORITY'
								| translate}}</label> <md-select ng-required ng-model="ticket.priority"> <md-option
								ng-repeat="p in priority" value="{{p}}">{{p}}</md-option> </md-select> </md-input-container>
	        				<md-input-container > <label>{{'STATUS'
								| translate}}</label> <md-select required ng-model="ticket.status" ng-disabled = "ticket.status === 'DONE'"> <md-option
								ng-repeat="s in status" value="{{s}}">{{s}}</md-option> </md-select> </md-input-container>
							<md-input-container >
	    						<label>{{'DESCRIPTION' | translate}}</label>
	            				<textarea name="description" ng-model="ticket.description" ></textarea>
	        				</md-input-container>
	        				
							</div>
	                	</md-content>
	                	</form>
	                	</div>
	                	
                	<md-content flex layout = "column">
                	<md-card>
					        <md-card-title>
					          <md-card-title-text>
					            <span class="md-headline">{{loggedUser.name}}'s comment</span>
					          </md-card-title-text>
					        </md-card-title>
							     <md-input-container flex >
		    						<label>{{'New_comment' | translate}}</label>
		            				<textarea name="description" ng-model="newComment.text" ></textarea>
		        				</md-input-container>
					        <md-card-actions layout="row" layout-align="end center">
					          <md-button class="md-icon-button" aria-label="Add" ng-click = "addComment()">
					             <md-icon  class="material-icons" >mode_comment</md-icon>
					             <md-tooltip>Add comment</md-tooltip>
					          </md-button>
					          <md-button class="md-icon-button" aria-label="Cancel">
					          	<md-tooltip>Cancel</md-tooltip>
					            <md-icon  class="material-icons" >cancel</md-icon>
					          </md-button>
					        </md-card-actions>
					      </md-card>
					      <h2>Comments:</h3>
					      <div ng-repeat = "comment in ticket.comments | orderBy: '-datetime'" ng-show = "ticket.comments.length>0">
					      	<md-card>
					      		<md-card-header>
					      			<md-card-header-text>
					      				<h5>{{comment.user.name}}'s comment</h5>
					      			</md-card-header-text>
					      		</md-card-header>
					      		<md-divider></md-divider>
					             <div><md-datepicker ng-model = "comment.datetime" disabled></md-datepicker></div>
					             <md-divider></md-divider>
							     <md-input-container flex >
		            				<textarea name="description" ng-model="comment.text" ng-disabled = "!comment.textEnable"></textarea>
		        				</md-input-container>
					        <md-card-actions layout="row" layout-align="end center">
					          <md-button class="md-icon-button" aria-label="Edit">
					             <md-icon  class="material-icons" ng-click = "editComment(comment)">mode_edit</md-icon>
					             <md-tooltip>Edit comment</md-tooltip>
					          </md-button>
					          <md-button class="md-icon-button" aria-label="Reset" ng-if = "comment.textEnable">
					             <md-icon  class="material-icons" ng-click = "cancelChange(comment)">cancel</md-icon>
					             <md-tooltip>Reset changes</md-tooltip>
					          </md-button>
					          <md-button class="md-icon-button" aria-label="Cancel">
					            <md-icon  class="material-icons" ng-click = "deleteComment(comment)">delete_forever</md-icon>
					             <md-tooltip>Delete comment</md-tooltip>
					          </md-button>
					        </md-card-actions>
					      </md-card>
					      
					      </div>
                	</md-content>
                </div>
                </md-tab-body>
            </md-tab>
             <md-tab  id="">
                <md-tab-label>{{'CHANGES ON TICKET' | translate}}</md-tab-label>
                <md-tab-body>
                    <ng-include src="'module/tickets/ticketChanges.html'"></ng-include>
                </md-tab-body>
            </md-tab>
    </md-dialog-content>
    <md-dialog-actions class =  "" >
    	<md-button class = "md-warn md-raised" ng-click="deleteTicket()">{{'DELETE' | translate}}</md-button>
        <md-button class = "md-primary md-raised" ng-click="cancel()">{{'CANCEL' | translate}}</md-button>
        <md-button ng-hide = "" class = "md-primary md-raised" ng-click="save()" ng-disabled="ticketInfo.$invalid">{{'SAVE' | translate}}</md-button>
    </md-dialog-actions>
</md-dialog>