<md-content flex layout="column" class="container">
    <md-toolbar class="md-primary md-hue-2 md-whiteframe-z1" layout="row" layout-align="space-around center">
        <md-button class="md-icon-button" hide-gt-sm data-ng-click="toggleNavigation()">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <md-input-container md-no-float flex-gt-lg="40">
            <input class="search" ng-model="search.name" placeholder="Search projects">
        </md-input-container>
        <div hide-gt-sm></div>
    </md-toolbar>
    <md-content class="frame" layout="column" layout-align="start center" layout-padding flex>
    	<div class="container">    
            <md-card ng-init="init()">
                <md-card-content>
                    <md-list>
                        <md-list-item class="" ng-repeat="project in projects | filter : {name: search.name}" ng-click="openDetails(project)" ng-show="projects.length > 0">
                        	<div class="md-list-item-text" layout="column">
                            <p style = "color:FF6600; font-size:140%;"> {{ project.name }} </p>
                            </div>
                            <md-icon ng-if = "user.role ==='MENADZER_SISTEMA'" class="material-icons" ng-click="deleteRestaurant(restaurant, $event)">clear</md-icon>
                            <md-divider></md-divider>
                        </md-list-item>
                        <md-list-item ng-show="restaurants.length === 0"> <label>{{ "NO_PROJECTS_FOUND" | translate}}</label></md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
            <md-button ng-show = "" class="md-fab md-fab-bottom-right fixed" aria-label="Add" data-ng-click="addNewRestaurant()">
                <md-icon class="material-icons">add</md-icon>
            </md-button>
        </div>
    </md-content>
</md-content>