<md-content flex layout="column" class="container">
    <md-toolbar class="md-primary md-hue-2 md-whiteframe-z1" layout="row" layout-align="space-around center">
        <md-button class="md-icon-button" hide-gt-sm data-ng-click="toggleNavigation()">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        
        <div hide-gt-sm></div>
    </md-toolbar>
    <div class="sample" align="center">
  		<h1>Prikaži i: </h1>
  		<md-input-container>
  			<md-select ng-model="selected" ng-change="getFilteredTickets()">
		  		<md-option ng-repeat="p in priorities" value="{{p}}">{{p}}</md-option>
			</md-select>
		</md-input-container>
	</div>
	
    <md-content class="frame" layout="column" layout-align="start center" layout-padding flex>
    	<div class="container">    
          <md-card ng-init="init()">
                <md-card-content>
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="ticket in tickets" ng-show="tickets.length > 0">
                        <p>{{ticket.name}}</p>
      					</md-list-item>
                        <md-list-item ng-show="tickets.length === 0"> <label>{{ "NO_TICKETS_FOUND" | translate}}</label></md-list-item>
                    </md-list>
        </div>
    </md-content>
    
    <md-content class="frame" layout="column" layout-align="start center" layout-padding flex>
    	<div class="container2">    
          <md-card ng-init="init()">
                <md-card-content>
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="fticket in filtered_tickets" ng-show="filtered_tickets.length > 0">
                        <p>{{fticket.name}}</p>
      					</md-list-item>
                        <md-list-item ng-show="filtered_tickets.length === 0"> <label>{{ "NO_TICKETS_FOUND" | translate}}</label></md-list-item>
                    </md-list>
        </div>
    </md-content>
</md-content>