<md-content flex layout="column" class="container">
    <md-toolbar class="md-primary md-hue-2 md-whiteframe-z1" layout="row" layout-align="space-around center">
        <md-button class="md-icon-button" hide-gt-sm data-ng-click="toggleNavigation()">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        
        <div hide-gt-sm></div>
    </md-toolbar>
    <md-content class="frame" layout="column" layout-align="start center" layout-padding flex>
    	<div class="container">    
          <md-card ng-init="init()">
                <md-card-content>
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="ticket in tickets" ng-show="tickets.length > 0">
      					</md-list-item>
                        <md-list-item ng-show="tickets.length === 0"> <label>{{ "NO_TICKETS_FOUND" | translate}}</label></md-list-item>
                    </md-list>
        </div>
    </md-content>
</md-content>