<div class="login">
	<form name="login" ng-show="showLoginForm">
		<div layout="column" flex="70">
			<md-input-container flex> <label>{{'USERNAME'
				| translate}}</label> <input required name="username" ng-model="username">
			<div ng-messages="login.username.$error"
				ng-if="login.username.$dirty">
				<div ng-message="required">{{'ERROR_REQUIRED_FIELD' |
					translate}}</div>

			</div>
			<div>
				<div ng-if="nePostojiKorisnik"><p style = "color:red; font-size:90%;">{{'NO_USERNAME' | translate}}</p></div>
			</div>
			</md-input-container>
			<md-input-container flex> <label>{{'PASSWORD'
				| translate}}</label> <input required name="password" type="password" ng-model="password">
			<div ng-messages="login.password.$error"
				ng-if="login.password.$dirty">
				<div ng-message="required">{{'ERROR_REQUIRED_FIELD' |
					translate}}</div>
			</div>
			<div ng-if="neispravnaLoznika"><p style = "color:red; font-size:90%;">{{'PASSWORD_NOT_OK' | translate}}</p></div>
			</md-input-container>
			<md-button class="md-raised md-primary" ng-click="loginUser($event);"
				ng-disabled="login.$invalid">{{'LOGIN' | translate}}</md-button>

		</div>
	</form>

</div>